body {
    background-image: radial-gradient(circle at 85% 1%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 96%,transparent 96%, transparent 100%),radial-gradient(circle at 14% 15%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 1%,transparent 1%, transparent 100%),radial-gradient(circle at 60% 90%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 20%,transparent 20%, transparent 100%),radial-gradient(circle at 79% 7%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 78%,transparent 78%, transparent 100%),radial-gradient(circle at 55% 65%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 52%,transparent 52%, transparent 100%),linear-gradient(135deg, rgb(37, 56, 222),rgb(96, 189, 244));
    color: #ffffff;
}

.transparent-nav {
    background-color: transparent !important;
}

.transparent-nav::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(9, 34, 147, 0.5); 
    z-index: -1;
}

.nav-item {
    display: inline-block;
    margin-right: 10px; 
}

.nav-link {
    position: relative;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s, transform 0.3s, color 0.3s; /* Ajoute des transitions pour des effets plus fluides */
}

.nav-link::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
   
    z-index: -1;
    transform: skewX(-20deg); 
}

.nav-link:hover {
    background-color: rgba(0, 123, 255, 0.2);
    transform: scale(1.1); 
    color: #ffcc00; 
}




/* Styles pour le popup */
.popup {
    display: none;
    position: fixed;
    width: 300px;
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    color: black;
}

.popup:target {
    display: block;
}

.popup-content {
    text-align: center;
}

.close {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;
}

/* Styles pour la barre de recherche */
.search-bar {
    text-align: center;
    margin: 20px 0;
}

.search-bar input[type="text"] {
    width: 50%;
    padding: 5px;
    margin-right: 10px;
}

/* Styles pour les cartes de tours */

.cards-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.card1 {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px; 
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    
}

.card1 img {
    width: 100%;
    height: auto;
}

/*--------------------------------------------------------*/
.bloc-dashboard {
    width: 60%;
    max-width: 1000px;
    margin: 0 auto; 
    border-radius: 10px;
    background: #1B6CA6; 
    padding: 20px;
}

.cercle {
    width: 80%;
    padding-bottom: 80%;
    border-radius: 50%;
    background-color: #ffc800;
    margin: 10px;
    position: relative;
    overflow: hidden;
}

.cercle p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
}

body {
    font-family: monospace;
}

/*--------------------------------------------------------*/

.scrolling-title-container {
    width: 100%;
    overflow: hidden;
}

.scrolling-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.custom-col {
    padding-right: 5px;
    padding-left: 5px;
}

.custom-card {
    margin: 10px;
    width: calc(100% - 20px); 
}

.custom-img {
    width: 99%; 
    height: auto; 
}

/* Style général du formulaire */
.form-feedback {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
    margin-top: 100px;
}

/* Style des labels */
.form-feedback label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style des inputs et textareas */
.form-feedback input[type='text'],
.form-feedback input[type='email'],
.form-feedback textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style du bouton submit */
.form-feedback input[type='submit'] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form-feedback input[type='submit']:hover {
    background-color: #45a049;
}

/* Style des feedbacks affichés */
#liste_feedbacks .feedback {
    background-color: #e9e9e9;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
}

#liste_feedbacks .feedback h3 {
    margin-top: 0;
}

#liste_feedbacks .feedback p {
    margin-bottom: 0;
}


@media only screen and (max-width: 600px) {
    .cards-container {
        flex-wrap: wrap;
    }

    .card1, .custom-card, .form-feedback {
        width: 100%;
        margin: 10px 0;
    }

    .search-bar input[type="text"] {
        width: 70%;
    }

    .popup {
        width: 90%;
    }
}


.card1 img, .custom-img {
    max-width: 100%;
    height: auto;
}


@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .form-feedback, .popup-content {
        font-size: 16px;
    }
}
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .form-feedback, .popup-content {
        font-size: 16px;
    }
}

@media only screen and (max-width: 600px) {
    .cercle {
        display: none; /* Exemple pour cacher des éléments */
    }
}